/* Title Section */
body {
  font-family: "Permanent Marker";
  background-color: #D9D7F1;
}

.container-fluid {
  padding: 0% 5% 10%;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-size: 2.5rem;
  color: purple;
}

.navbar-brand:hover {
  font-size: 2.5rem;
  color: #E7FBBE;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  color: purple;
}

.nav-link:hover {
  font-size: 1.2rem;
  color: #E7FBBE;
}

/* Title Section */
.title{
padding: 0% 5% 10%;
  }

.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
  color: purple;
}

.subhead {
  font-family: "Square Peg";
  color: #E7FBBE;
  font-weight: bold;
  font-size: 2.75rem;
}

.coding-links {
  padding-left: 10%;
}

.project-header {
  color: #E7FBBE;
  font-size: 3rem;
}

.project {
  color: purple;
  font-size: 2rem;
  line-height: 1.5;
  text-decoration: none;
}

.project:hover {
  color: #E7FBBE;
  font-size: 2rem;
  line-height: 1.5;
}

/* Levels Section */
.levelup2 {
  width: 100%;
}

.levels-section {
  padding: 2% 15% 5%;
}

.levels-origin {
  font-size: 2.5rem;
  font-family: "Sorts Mill Goudy";
  line-height: 1.5;
  text-align: center;
}

.LEVELS {
  font-family: "Permanent Marker";
  color: purple;
}

.LEVELS:hover {
  font-family: "Permanent Marker";
  color: #FFFDDE;
}

/* Carousel */
.levelup-carousel {
  text-align: center;

}

.history-heading {
  font-family: "Square Peg";
  font-size: 2.5rem;
}

.tomas-image {
  width: 50%
}

.levels-container{
  padding: 100px;
}

.levels-poster {
  width: 500px;

}
.future-heading{
  font-family: "Permanent Marker";
  font-size: 3rem;
  color: #FFFDDE;
}

.future-levels{
  font-family: "Square Peg";
  font-size: 2rem;
}

.cta{
  text-align: center;
}

/* Color Palette

#D9D7F1
#FFFDDE
#E7FBBE
#FFCBCB

*/
