/*Tag Selectors */

h1 {
  color: red;
  font-size: 200px;
}


img:hover{
  background-color: gold;
}


/*Image Selectors */

.bacon{
  background-color: red;
}

.broccoli{
  background-color: green;
}

.circular{
  border-radius: 100%;
}

/* ID Selectors */

#heading{
  color: blue;
}
